body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #141516;
}

p {
    color: azure;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.image {
    display: block;
    width: 128px;
    height: 128px;
}

#load-mod-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 60px; /* adjust this value to change the distance from the bottom */
}

#download-mod-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px; /* adjust this value to change the distance from the bottom */
}

#suika-skins-images {
}

#suika-audios {
}

.column-list {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}