body {
    height: 100%;
    margin: 0;
    background-color: #141516;
}

p {
    color: azure;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

label {
    color: azure;
}

.numeric-input-field-div {
    display: inline-block;
    width: 20em;
    padding: 8px 0 8px 0;
}

.numeric-input-field {
    line-height: 24px;
    width: 100px;
    font-size: 12px;
    float: right;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    width: 100%;
}

#top-div,
#bottom-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
}

#child-top-div,
#child-bottom-div {
    display: inline-flex;
    margin: auto;
}

.child-of-child-top-div {
    padding: 32px 16px 32px;
}

.child-of-child-bottom-div {
    max-width: 128px;
    height: auto;
    margin: 2px;
}

#suika-skins {
    max-width: 370px;
}

.column-list {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

#suika-audios-list,
#suika-merge-audios {
    padding: 0;
}

.grid-item {
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 128px;
    height: auto;
}

.image {
    display: block;
    max-width: 128px;
    height: auto;
}

.image:hover {
    cursor: pointer;
}

#load-mod-button,
#download-mod-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: black;
    border: none;
    cursor: pointer;
    max-width: 200px;
    margin: 10px;
}