# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.r1nge.github.io.iml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
